<!-- app/views/static_pages/splash.html.erb -->

<h1>favourable reception</h1>
<p>Please sign in or register to get started:</p>
<%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
<%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %>