<section class="splash-section d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <div class="title-container mt-auto">
        <h2 class="fst-italic text-3xl splash-title">Budget</h2>
    </div>
    <div class="d-flex flex-column w-100 mt-auto">
        <%= link_to "LOG IN", new_user_session_path, class: 'btn custom btn-primary btn-lg m-2' %>
        <%= link_to "SIGN UP", new_user_registration_path, class: 'btn custom btn-outline-secondary btn-lg m-2' %>
    </div>
</section>
